<div class="loginWrap" >
    <p class="loginTip" >登录oppo账号可享受更多服务</p>    
    <input ng-model="username" class="username" type="text" placeholder='请输入手机号码/邮箱/用户名' />
    <input ng-model="password" class="password" type="password" placeholder='请输入账号密码' />
    <span  class="biaoqian" >
        <a href="javascript:void(0)">找回密码</a>
        <a href="javascript:void(0)">账号申诉</a>
    </span>
    
    <input ng-click="login()"  class="login" type="button" value="登录" />
    <input ng-click="reg()"  class="reg" type="button" value="注册OPPO账号" />
    <div class="icon_title" >
        <img src="images/ico_title.png"  />
    </div>
    <div class="icon_media" >
        <img src="images/ico_qq.jpg" />
        <img src="images/ico_wb.jpg" />
        <img src="images/ico_alipay.jpg" />
        <img src="images/ico_wx.jpg" />
    </div>
</div>
